@import "../../../theme";
.b-container{
  background-color: lavender;
  padding-bottom: 3vw;
}
.b-header{
  z-index: 1;
  width: 100%;
  height: 140px;
  position: relative;

  display: grid;
  grid-gap: 2vw;
  grid-template-columns:auto auto;
  align-items: center;

  padding-left: 2vw;
  padding-right: 2vw;
}
.b-header-bg{
  position: absolute;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url(../../../images/partners/bodet/headerBg.webp);
  background-repeat: no-repeat;
  width: 100%;
  height:100%;
  background-size:cover;
  z-index: -1;
}
.b-header-font{
  font-size: 15px;
}

.b-section h1{
  color: #303030;
  font-size: 55px;
}

.b-section h2{
  font-size: 31px;
  color: #4682B4;
  justify-self: left;
}
.b-section h3{
  color: #2B689C;
  font-size: 17px;
}

.b-list{
  font-size: 17px;
  color: #C0C0C0;
  list-style-type: disc;
  justify-self: left;
}
.b-section{
  display: grid;
  grid-gap: 1vw;
  grid-template-columns:auto;
  align-items: center;
  justify-items: center;

  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 3vh;
}

.b-subsection{
  display: grid;
  grid-gap: 1vh;
  grid-template-columns:auto;
  align-items: center;
  justify-items: center;
  padding-bottom: 3vh;
}

.responsiv-3{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1vh;
  align-items: center;
  justify-items: center;
}