.ant-carousel .slick-slide {
  height: 300px;
  line-height: 300px;
  overflow: hidden;
  color: rgb(49, 181, 172);
}
.ant-carousel .slick-dots li{
  background-color: rgb(49, 181, 172);
  border-radius: 50%;
}

.slick-active{
  border: 1px solid rgba(49, 181, 172, 1);
}

.info{
    position: relative;
  color: #606060;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  //grid-gap: 15px;
}
.gallery-item{
  padding: 1vw 2vw;
  font-size: 14px;
  text-align: justify;
  line-height: normal;
  letter-spacing: normal;
  font: normal normal normal 17px/1.4em 'open sans',sans-serif;
  word-wrap: break-word;
}


.grid-item-logo{
  height:100px;
display: block;
}


.gallery-item:nth-child(even) {
  background-color: rgb(235, 244, 252);
}

.contactInfo{

}